.theme {
  text-align: center;
  margin: 0;
  margin-top: 15vh;
  background-color: #607eaa;
  font-family: "Kanit", sans-serif;
  overflow: hidden;
}

.float-container {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
  width: 600px;
  height: 120px;
  padding: auto;
  margin: auto;
  text-align: center;
}

.float-letters {
  /* background-color: aqua; */
  width: 65%;
  margin-left: 20px;
  /* float: left; */
  margin-right: 0%;
}

.float-image {
  position: absolute;
  width: 25%;
  /* float: left; */
  margin-top: 7%;

  /* background-color: green; */
  left: 68%;
  top: 0%;
}
.projects {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.logo {
  width: 50vw;
  display: flex;
}

.projectPics {
  object-fit: cover;
  width: 150px;
  height: 150px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
}

.githubButton {
  width: 200px;
  height: 50px;
  font-size: medium;
  font-weight: 800;
  color: white;
  margin-top: 40px;
  border-radius: 25px;
  background-image: url("https://cdn.wallpapersafari.com/40/36/vUicmb.jpg");
  background-size: cover;
  border: 0;
  letter-spacing: 0.1rem;
}
